GITHUB_PERSONAL_ACCESS_TOKEN=""

# OpenRouter
OPENROUTER_API_KEY=""

# Claude Code
ANTHROPIC_BASE_URL="https://openrouter.ai/api"
ANTHROPIC_AUTH_TOKEN="$OPENROUTER_API_KEY"
ANTHROPIC_API_KEY="" # Important: Must be explicitly empty
# ANTHROPIC_DEFAULT_OPUS_MODEL="qwen/qwen3.6-plus"
# ANTHROPIC_DEFAULT_SONNET_MODEL="qwen/qwen3.6-plus"
# ANTHROPIC_DEFAULT_HAIKU_MODEL="stepfun/step-3.5-flash"
# CLAUDE_CODE_SUBAGENT_MODEL="qwen/qwen3.6-plus"
