.devbox/
.bun/
.volta/
.local/
.cache/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua
*.swp

.gemini/*
!.gemini/AGENTS.md
!.gemini/settings.json

.claude/*
!.claude/CLAUDE.md
!.claude/settings.json
.deleted/
.env
